<div class="uk-child-width-1-3@m uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>

    {{!-- Slideshow of posts --}}
    <div>
        <div class="uk-card uk-card-default uk-card-hover uk-card-body">
            <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="ratio: 3:4; animation: fade; autoplay: true; autoplay-interval: 6000" tabindex="-1" uk-slideshow>

                <ul class="uk-slideshow-items">

                    {{#each posts}}
                    <li>    
                        <img src="{{ image }}" alt="" uk-cover>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-padding-remove">
                            <h3 class="uk-margin-remove">{{ title }}</h3>
                            <p class="uk-margin-remove uk-text-truncate">{{ text }}</p>
                            <hr class="uk-margin-remove"></hr>
                            <a class="uk-button uk-button-text" href="/post/{{_id}}">Read more</a>
                        </div>
                    </li>
                    {{/each}}

                </ul>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
            </div>
        </div>
    </div>

    {{!-- Country information and search form --}}
    <div class="uk-card">

            {{!-- Country information --}}
            {{#with data}}
                <div class="uk-text-center">

                    <div class="uk-card-header uk-padding-remove-bottom">
                        <h2 id="eachCountryTitle" class="uk-text uk-text-capitalize" name="countryName">{{countryName}}</h2>
                    </div>

                    <hr class="uk-margin-remove-top">

                    <div class="uk-card-media-top">
                        <img src="{{flagImg}}" alt="country-flag" class="flags" name="flagImg">
                        <p name="info">{{info}}</p>
                    </div>

                </div>
            {{/with}}

            {{!-- Search form --}}
            <legend class="uk-legend uk-text-center">Checkout other countries!</legend>

            <form class="dropdown country-enter1" action="/country/eachCountry">

                        <div class="uk-margin">

                            <select name="country" class="uk-select">
                              <option value="">Please choose a country</option>
                              <option value="Argentina">Argentina</option>
                              <option value="Bolivia">Bolivia</option>
                              <option value="Brasil">Brasil</option>
                              <option value="Canada">Canada</option>
                              <option value="Chile">Chile</option>
                              <option value="Colombia">Colombia</option>
                              <option value="Hungria">Hungria</option>
                              <option value="Mexico">Mexico</option>
                              <option value="Usa">Usa</option>
                            </select>

                        </div>

                <div class="uk-margin uk-flex uk-flex-column uk-flex-middle">
                    <button id="catalogueButton" class="uk-button uk-button-secondary uk-width-1-1" type="submit">Search</button>
                </div>
                    
            </form>                       
        
    </div>
    
</div>