<div id="js-oversized" class="uk-child-width-1-2" uk-grid>

    {{!-- Profile info --}}
    <div>

        <div class="uk-card uk-card-default uk-card-body uk-position-z-index uk-flex uk-flex-column uk-flex-middle" uk-sticky="end: #js-oversized; offset: 80">
            
            {{#if currentUser}}
                {{#with currentUser}}

                    <div class="uk-card-media-top">
                         <img src="{{ profilePic }}" width="150" height="150" class="uk-border-circle" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-text-capitalize">{{ name }}  {{ lastName }}</h3>
                        <h5>Country: {{ country }}</h5>
                        <h6>Birthday: {{ dateOfBirth }}</h6>
                        <h6>Occupation: {{ occupation }}</h6>
                        <h3>About me:</h3>
                        <p>{{ aboutUser }}</p>
                    </div>

                {{/with}}
            {{/if}}
                
        </div>

    </div>

    {{!-- Posts --}}
    <div>

        <div class="uk-padding">

            {{#if currentUser}}
                    
                {{#each post}}
                    <div class="uk-card uk-card-hover uk-grid-medium">
                        <div class="uk-card-media-top">
                            <img src="{{ image }}" width="1800" height="1200" alt="">
                        </div>

                        <div class="uk-card-header">
                            <h3 id="profilePosts" class="uk-card-title uk-text-capitalize">{{ title }}</h3>
                            <p>{{ country }}</p>
                            <p class="uk-text-muted uk-text-small">{{ date }}</p>
                        </div>

                        <p class="uk-text-muted uk-text-truncate">{{ text }}</p>

                        <div class="uk-card-footer">
                            <a class="uk-button uk-button-text" href="/post/{{_id}}">Read more</a>
                            <a class="uk-button uk-button-text" href="/post/{{_id}}/editPost">Edit</a>
                            <form action="/post/{{_id}}/delete" method="post">
                                <button class="uk-button uk-button-secondary" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                {{/each}}
                   
            {{/if}}

        </div>

    </div>

</div>


