{{#with fullPost}}
    
    <div class="uk-child-width-1-3@m uk-grid-match uk-grid-large uk-flex uk-flex-middle uk-flex-center" uk-grid>

        {{!-- Slideshow --}}
        <div>
                <div class="uk-card uk-card-default uk-card-hover uk-card-body">

                    <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="ratio: 3:4; animation: fade; autoplay: true; autoplay-interval: 6000" tabindex="-1" uk-slideshow>

                        <ul class="uk-slideshow-items">
                            <li>
                                <img src="{{ image }}" alt="" uk-cover>
                            </li>
                        </ul>

                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

                    </div>

                </div>

        </div>

        {{!-- Body of post --}}
        <div>
                <div class="uk-card uk-card-body">
                    <article class="uk-article">

                        <h1 class="uk-article-title">{{ title }}</h1>

                        <p class="uk-article-meta">Written by <a href="#">Super User</a> on 12 April 2012.</p>

                        <p class="uk-text-lead"><a class="uk-link-reset" href="">{{ country }}</a></p>

                        <p class="uk-text-lead uk-text-lighter">{{ date }}</p>

                        <p>{{ text }}</p>

                        {{#unless comments}}
                            <div class="uk-grid-small uk-child-width-auto" uk-grid>
                                <div>
                                    <a class="uk-button uk-button-text" href="#">No comments yet!</a>
                                </div>
                            </div>
                        {{/unless}}

                        {{#each comments}}
                            <div class="uk-grid-small uk-child-width-auto" uk-grid>
                                <div>
                                    <a class="uk-button uk-button-text" href="#">{{ author.name }}:  {{content}}</a>
                                </div>
                            </div>
                        {{/each}}

                        <h3>Add comment</h3>
 
                        <form action="/post/{{_id}}/comment" method="post">
                        <label> Your name:
                            <input type="text" name="author" />
                        </label>
                        
                        <input type="text" name="_id" value="{{author._id}}" hidden />
                        <textarea name="content" cols="30" rows="2"></textarea>
                        
                        <button type="submit">Comment</button>
                        </form>
                    </article>
                </div>
        </div>

    </div>

{{/with}}