{{#with fullPost}}

    <div class="uk-child-width-1-3@m uk-grid-match uk-grid-large uk-flex uk-flex-middle uk-flex-center" uk-grid>

        {{!-- Slideshow --}}
        <div>
                <div class="uk-card uk-card-default uk-card-hover uk-card-body">

                    <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="ratio: 3:4; animation: fade; autoplay: true; autoplay-interval: 6000" tabindex="-1" uk-slideshow>

                        <ul class="uk-slideshow-items">
                            <li>
                                <img src="{{ image }}" alt="" uk-cover>
                            </li>
                        </ul>

                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

                    </div>

                </div>

        </div>

        {{!-- Body of post --}}
        <div>   
                <div class="uk-card uk-card-body">
                    <article class="uk-article">

                        <h1 id="postTitle" class="uk-article-title uk-text-capitalize">{{ title }}</h1>

                        <p class="uk-article-meta">Written on {{ dateFormat dateAt}}.</p>

                        <p class="uk-text-lead uk-text-capitalize">{{ country }}</p>

                        <p class="uk-text uk-text-lighter">{{ dateFormat date }}</p>

                        <p>{{ text }}</p>

                        <div class="uk-grid-small uk-child-width-auto" uk-grid>
                            <div>
                                <a class="uk-button uk-button-text" href="#">5 Comments</a>
                            </div>
                        </div>

                    </article>
                </div>
        </div>

    </div>

{{/with}}